{% assign graphName = name| append: "-graph" %}
{% assign buttonName = name | append: "-button-" %}

<div class="graph-container">
    {% for graphing in graphs %}
        {% if forloop.first %}
            <div class={{ graphName }} id="{{ forloop.index0 }}">
        {% else %}
            <div class={{ graphName }} id="{{ forloop.index0 }}" style="display: none;">
        {% endif %}
        {% capture url %}{{ baseurl }}{{ graphing | strip }}{% endcapture %}
        <figure>
            <img src="{{ url }}" />
        </figure>
        </div>
    {% endfor %}
</div>

<ul class="usa-button-group ">
    {% for option in options %}
        <li class="usa-button-group__item">
        {% if forloop.first %}
            <button type="button" id={{ buttonName | append: forloop.index0 }} class="usa-button" onclick="showGraph({{ forloop.index0 }}, '{{ graphName }}','{{ buttonName }}')">{{ option }}</button>
        {% else %}
            <button type="button" id={{ buttonName | append: forloop.index0 }} class="usa-button usa-button--outline" onclick="showGraph({{ forloop.index0 }}, '{{ graphName }}','{{ buttonName }}')">{{ option }}</button>
        {% endif %}
        </li>
    {% endfor %}
</ul>