<div class="margin-y-3">
  <div
    class="usa-modal"
    id="{{ title | slugify }}-modal"
    aria-labelledby="{{ title | slugify }}-modal-heading"
    aria-describedby="{{ title | slugify }}-modal-description"
    aria-hidden="true"
  >
    <div class="usa-modal__content">
      <div class="usa-modal__main">
        <h2 class="usa-modal__heading" id="{{ title | slugify }}-modal-heading">
          {{ title }}
        </h2>
        <div class="usa-prose">
          <p id="{{ title | slugify }}-modal-description">
            {{ modal_description }}
          </p>
        </div>
        <div class="usa-modal__footer">
          <button type="button" class="usa-button modal-button" data-close-modal>
            Close
          </button>
        </div>
      </div>
      <button
        type="button"
        class="usa-button-exit usa-modal__close"
        aria-label="Close this window"
        data-close-modal
      >
        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
          <use href="/assets/img/sprite.svg#close"></use>
        </svg>
      </button>
    </div>
  </div>
</div>