<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic">
  <div class="usa-navigation-container">
    <div class="usa-nav-bar">
      <div class="title">
        <img src="{{ "/assets/img/cms-logo.jpg" | url }}" class="logo" alt="CMS Logo">
        <div class="usa-logo">
          <em class="usa-logo__text">
            <a href="{{ "/" | url}}" title="{{site.title}}">Open Source Repository Metrics Website</a>
          </em>
        </div>
        <!-- <button class="usa-menu-btn">BUTTON</button> -->
        <button class="usa-menu-btn menu-btn-styling">
          <svg
            class="usa-icon--size-5 toggle-icon"
            aria-hidden="true"
            focusable="false"
            role="img"
          >
            <use href="{{ site.baseurl }}/assets/img/sprite.svg#menu">
          </svg>
        </button>
      </div>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
      <button class="usa-nav__close">
        <svg class="usa-icon--size-4 button-styling" aria-hidden="true" focusable="false" role="img">
          <use href="{{ site.baseurl }}/assets/img/sprite.svg#close"></use>
        </svg>
      </button>
      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item">
          <a href="{{ "/" | url}}" class="usa-nav-link {% if page.url == "/" %}usa-current{% endif %}">
            <span>Home</span>
          </a>
        </li>
        <li class="usa-nav__primary-item">
          <a href="{{ "/organizations/" | url}}" class="usa-nav-link {% if page.url contains "/organizations/" %}usa-current{% endif %}">
            <span>Organizations</span>
          </a>
        </li>
        <li class="usa-nav__primary-item">
          <a href="{{ "/projects/" | url}}" class="usa-nav-link {% if page.url contains "/projects/" %}usa-current{% endif %}">
            <span>Projects</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
