---
layout: base
---
<div class="grid-container">
  <section class="home-page-description">
    <div class="description-styling">
      <h2>Metrics</h2>
    </div>
    <p class="home-paragraph">
      <strong>Metrics</strong> provides meaningful insights into project performance and code quality,
      empowering teams to make informed decisions. By analyzing key data points such as contributor activity,
      issue resolution times, code complexity and dependency health, Metrics transforms raw data into actionable visualizations.
      With a focus on clarity and accessibility, Metrics enables organizations to monitor progress,
      identify improvement opportunities and measure the impact of work.
    </p>
    <p>
      {{ site.description }}
    </p>
  </section>
  <ul class="usa-card-group-home">
    <li class="usa-card tablet:grid-col-9">
      <div class="usa-card-outer">
        <div class="usa-card-middle">
          <a href="{{ "/organizations/" | url}}" class="href-home">
            <div class="usa-card__container">
              <div class="home-icon-container">
                <svg class="usa-icon--size-5" aria-hidden="true" focusable="false" role="img">
                  <use href="{{ site.baseurl }}/assets/img/sprite.svg#groups"></use>
                </svg>
              </div>
              <div class="usa-card__header">
                <h2 class="usa-card__heading-home">
                  Organizations
                </h2>
                <div class="usa-card__body">
                  <p>View Metrics on our GitHub Organizations</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </li>
    <li class="usa-card tablet:grid-col-9">
      <div class="usa-card-outer">
        <div class="usa-card-middle">
          <a href="{{ "/projects/" | url}}" class="href-home">
            <div class="usa-card__container">
              <div class="home-icon-container">
                <svg class="usa-icon--size-5" aria-hidden="true" focusable="false" role="img">
                  <use href="{{ site.baseurl }}/assets/img/sprite.svg#folder_open"></use>
                </svg>
              </div>
              <div class="usa-card__header">
                <h2 class="usa-card__heading-home">Projects</h2>
                <div class="usa-card__body">
                  <p>View Metrics on our {{ projects.length }}+ Repositories</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>
