---
layout: base
---
    <div class="grid-container">
      <p>
        The Centers for Medicare and Medicaid Services is comprised of many GitHub Organizations.
      </p>
      <ul class="usa-card-group">
        {% for org in organizations %}
          <li class="usa-card usa-card--flag desktop:grid-col-6">
            <div class="usa-card__container">
              <div class="usa-card__header">
                <h2 class="usa-card__heading">
                  <a href="../{{org.login}}/" class="text-no-underline">{{ org.login }}</a>
                </h2>
              </div>
              <div class="usa-card__media" style="display: flex; justify-content: center;">
                <div class="usa-card__img" style="background-color: white; padding: 10px 0;">
                  <img
                    src="{{org.avatar_url}}"
                    alt="Organization Avatar"
                  />
                </div>
              </div>
              <div class="usa-card__body">
                <div>{{ org.description }}</div>
              </div>
              <div class="usa-card__footer">
                <span class="star-count" style="margin-right: 15px;">
                  <svg class="usa-icon" aria-labelledby="star-count-{{org.login}}-title" role="img">
                    <title id="github-{{org.login}}-title"> Repo Count</title>
                    {% lucide "folder-git-2" %}
                  </svg>
                  <span> {{ org.repo_count }} </span>
                </span>
                <span class="fork-count" style="margin-right: 15px;">
                    <svg class="usa-icon" aria-labelledby="fork-count-{{org.login}}-title" role="img">
                      <title id="github-{{org.login}}-title"> Follower Count</title>
                      {% lucide "users-2" %}
                    </svg>
                    <span> {{ org.stargazers_count }} </span>
                  </span>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>