---
layout: base
---
    <div class="grid-container">
      <p>
        The Centers for Medicare and Medicaid Services develops and supports many open-source projects found in our various GitHub Organizations.
      </p>

      {% for org in organizations %}
        <div class="report_heading">
          <h2>
            {{ org.name }}
            <img
              src="{{org.avatar_url}}"
              alt="Organization Avatar"
              width="20" />
          </h2>
        </div>

    <ul class="usa-card-group flex-align-stretch">
      {% assign orgProjects = projects | findProjectsInOrg: org.name %}
      {% for repo in orgProjects %}
        <li class="usa-card project-card tablet:grid-col-12">
          <div class="usa-card__container">
            <div class="usa-card__header">
              <h2 class="usa-card__heading">
                <a href="{{ site.baseurl }}/{{ repo.owner }}/{{ repo.name }}/" class="text-no-underline">{{ repo.name }}</a>
              </h2>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
    </div>