---
layout: base
---
<script type="module" src="{{ "/assets/js/projects.js" | url }}"></script>
<div class="grid-container ">
  <p>
    The Centers for Medicare and Medicaid Services develops and supports many open-source projects found in our various
    GitHub Organizations.
  </p>
  {% assign org_filters = "DSACMS, CMS-Enterprise, CMSgov, Enterprise-CMCS" | split: "," %}
  {% assign allFields = "project_type, user_input, project_fisma_level, group, subset_in_healthcare, user_type, repository_host, maturity_model_tier" | split: "," %}

  <div class="test">
    <div class="usa-accordion border-base-lighter border-2px">
      <div class"usa-accordion__heading">
        <button class="usa-accordion__button font-heading-md text-base-darker" id="organization">Organization</button>
      </div>
      <div class="usa-prose border-top-1px border-base-light">
        <form class="usa-form">
          <fieldset class="usa-fieldset" aria-labelledby="organization">
            {% for org in org_filters %}
              <div class="usa-checkbox padding-x-2 padding-y-1">
                <input type="checkbox" class="usa-checkbox__input" id="test" value="test">
                  <label class="usa-checkbox__label font-body-2xs text-base-dark">
                    <span>{{org}}</span>
                  </label>
                </input>
              </div>
            {% endfor %}
          </fieldset>
        
        </form>
      </div>
    </div>


    <div class="block">
      <div class="margin-bottom-2">
        <label class="usa-label" for="filter-input">Search</label>
        <div class="usa-input-group width-full maxw-none">
          <div class="usa-input-prefix" aria-hidden="true">
            <svg aria-hidden="true" role="img" focusable="false" class="usa-icon">
              <use xlink:href={{  "/assets/img/sprite.svg#search"| url }} ></use>
            </svg>
          </div>
          <input class="usa-input--lg" id="filter-input" name="filter-input">
        </div>
      </div>

      {% for org in organizations %}
        <div class="project_section">
          <div class="report_heading">
            <h2>
              {{ org.name }}
              <img
                src="{{org.avatar_url}}"
                alt="Organization Avatar"
                width="20"
              >
            </h2>
          </div>

          <ul class="usa-card-group flex-align-stretch">
            {% assign orgProjects = projects | findProjectsInOrg: org.name %}
            {% for repo in orgProjects %}
              {% render 'project-card', repo: repo, base_url: site.baseurl %}
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
