---
layout: base
---
<div class="grid-container">

  {% assign organization = organizations | findObject: org %}

  <div class="report_heading">
    <h1>Report for
      <a target="_blank" href="https://github.com/{{ org }}">{{ org }}</a>
      <img
        src="{{organization.avatar_url}}"
        alt="Organization Avatar"
        width="25" />
    </h1>
  </div>

  <div class="report-container">
    {% if organization %}
      <h2>Organization Stats</h2>
      <div class="github-information">
        <div class="stat-container" id="projects">
          <div class="projects-heading">
            <h4>
              Repositories
              <span>
                <svg
                  class="usa-icon"
                  aria-labelledby="projects-count"
                  role="img">
                  {% lucide "folder-git-2" %}
                </svg>
              </span>
            </h4>
          </div>
          <p>{{ organization.repo_count }}</p>
        </div>
        <div class="stat-container" id="followers">
          <div class="followers-heading">
            <h4>
              Followers
              <span>
                <svg
                  class="usa-icon"
                  aria-labelledby="followers-count"
                  role="img">
                  {% lucide "users-2" %}
                </svg>
              </span>
            </h4>
          </div>
          <p>{{ organization.followers_count }}</p>
        </div>
      </div>
    {% else project %}
      <p>
        Error Occurred: Object Not Found
      </p>
    {% endif %}
    <br>
    <div class="post">
      {{ content | raw }}
    </div>
  </div>
</div>