---
layout: base
---
<script src="{{ "/assets/js/graphs.js" | url }}"></script>
<div class="grid-container">
  {% assign project = projects | findObject: repo %}

  <div class="report_heading">
    <h1>
      Report for
      <a target="_blank" href="https://github.com/{{ org }}/{{ repo }}">{{ repo }}</a>
    </h1>
  </div>

  <div class="tag_row">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="172" height="20" role="img" aria-label="project type: {{ project.nadia_badge_name }}"><title>project type: {{ project.nadia_badge_name }} </title><linearGradient id="s" x2="0" y2="100%"><stop offset="0" stop-color="#bbb" stop-opacity=".1"/><stop offset="1" stop-opacity=".1"/></linearGradient><clipPath id="r"><rect width="172" height="20" rx="3" fill="#fff"/></clipPath><g clip-path="url(#r)"><rect width="77" height="20" fill="#555"/><rect x="77" width="95" height="20" fill="{{ project.nadia_color }}"/><rect width="172" height="20" fill="url(#s)"/></g><g fill="#fff" text-anchor="middle" font-family="Verdana,Geneva,DejaVu Sans,sans-serif" text-rendering="geometricPrecision" font-size="110"><text aria-hidden="true" x="395" y="150" fill="#010101" fill-opacity=".3" transform="scale(.1)" textLength="670">project type</text><text x="395" y="140" transform="scale(.1)" fill="#fff" textLength="670">project type</text><text aria-hidden="true" x="1235" y="150" fill="#010101" fill-opacity=".3" transform="scale(.1)" textLength="850">{{ project.nadia_badge_name }}</text><text x="1235" y="140" transform="scale(.1)" fill="#fff" textLength="850">{{ project.nadia_badge_name }}</text></g></svg>
  </div>
  
  <div class="report_container">
    <h2>Repo Stats</h2>
    {% if project %}
      <div class="github-information">
        <div class="stat-container" id="stars">
          <div class="stars-heading">
            <h4>
              <span>
                <svg
                  class="usa-icon"
                  aria-labelledby="star-count"
                  role="img"
                >
                  {% lucide "star" %}
                </svg>
              </span>
              Stars
            </h4>
          </div>
          <p>{{ project.stargazers_count }}</p>
        </div>
        <div class="stat-container" id="forks">
          <div class="forks-heading">
            <h4>
              <span>
                <svg
                  class="usa-icon"
                  aria-labelledby="fork-count"
                  role="img"
                >
                  {% lucide "git-fork" %}
                </svg>
              </span>
              Forks
            </h4>
          </div>
          <p>{{ project.forks_count }}</p>
        </div>
        <div class="stat-container" id="issues">
          <div class="issues-heading">
            <h4>
              <span>
                <svg
                  class="usa-icon"
                  aria-labelledby="fork-count"
                  role="img"
                >
                  {% lucide "circle-dot" %}
                </svg>
              </span>
              Issues
            </h4>
          </div>
          <p>{{ project.issues_count }}</p>
        </div>
        <div class="stat-container" id="watchers">
          <div class="watchers-heading">
            <h4>
              <span>
                <svg
                  class="usa-icon"
                  aria-labelledby="watchers-count"
                  role="img"
                >
                  {% lucide "eye" %}
                </svg>
              </span>
              Watchers
            </h4>
          </div>
          <p>{{ project.watchers_count }}</p>
        </div>
        <div class="stat-container" id="pull-requests">
          <div class="pull-requests-heading">
            <h4>
              <span>
                <svg
                  class="usa-icon"
                  aria-labelledby="pull-requests-count"
                  role="img"
                >
                  {% lucide "git-pull-request" %}
                </svg>
              </span>
              Pull Requests
            </h4>
          </div>
          <p>{{ project.pull_requests_count }}</p>
        </div>
      </div>
    {% else %}
      <p>Error Occurred: Object Not Found</p>
    {% endif %}
    <br>
    <div class="post">
      {{ content | raw }}
    </div>
  </div>
</div>
