---
layout: base
---
<script src="{{ "/assets/js/graphs.js" | url }}"></script>
<div class="grid-container">
  {% assign project = projects | findObject: repo %}

  <div class="report_heading">
    <h1>
      Report for
      <a target="_blank" href="https://github.com/{{ org }}/{{ repo }}">{{ repo }}</a>
    </h1>
  </div>

  {%comment%} could be separated by primary and secondary tags lists, as tags update {%endcomment%}
  {% assign allFields = "project_type, user_input, project_fisma_level, group, subset_in_healthcare, user_type, repository_host, maturity_model_tier" | split: "," %}
  {% assign hasMetricFields = false %}
  {% for field in allFields %}
    {% if project[field] %}
      {% assign hasMetricFields = true %}
      {% break %}
    {% endif %}
  {% endfor %}

  {% if hasMetricFields %}
    <div class="primary-tag-group">
      {% if project.repository_host %}
        <span class="usa-tag usa-tag--big main-tag icon-tag">{{ project.repository_host }} <img src="{{ '/assets/img/' | url }}github.svg" alt="github icon"></span>
      {% endif %}
      {% if project.group %}
        <span class="usa-tag usa-tag--big main-tag">{{ project.group }}</span>
      {% endif %}
    </div>
  
  
    <div class="secondary-tag-group">
      {% if project.project_type %}
        <span class="{{ item.name | slug }}-tag">{{ item.name }}</span>
        <span class="usa-tag usa-tag--big main-tag {{ project.project_type | slug }}-tag">{{ project.project_type }}</span>
      {% endif %}
      {% if project.maturity_model_tier %}
        <span class="usa-tag usa-tag--big main-tag">TIER {{ project.maturity_model_tier }}</span>
      {% endif %}
      {% if project.project_fisma_level %}
        {% assign fismaLevel = project.project_fisma_level %}
        {% assign fismaLevelIcon = "chevron.svg" %}
        {% if fismaLevel == "Moderate" %}
            {% assign fismaLevelIcon = "chevron-two.svg" %}
        {% else if fismaLevel == "High" %}
            {% assign fismaLevelIcon = "chevron-three.svg" %}
        {% endif %}
        <span 
          class="usa-tag usa-tag--big main-tag icon-tag">{{ project.project_fisma_level }} 
          <img src="{{ '/assets/img/' | url }}{{ fismaLevelIcon }}" alt="fisma level icon"> 
        </span>
      {% endif %}
    </div>
  {% endif %}
  
  <div class="tags_row">
    {% render 'project-type-tag',
      type: project.nadia_badge_name,
      color: project.nadia_color,
      link: project.nadia_shields_badge_url
    %}
  </div>

  <div class="report_container">
    <h2>Repo Stats</h2>
    {% if project %}
      <div class="github-information">
        <div class="stat-container" id="stars">
          <div class="stars-heading">
            <h4>
              <span>
                <svg
                  class="usa-icon"
                  aria-labelledby="star-count"
                  role="img"
                >
                  {% lucide "star" %}
                </svg>
              </span>
              Stars
            </h4>
          </div>
          <p>{{ project.stargazers_count }}</p>
        </div>
        <div class="stat-container" id="forks">
          <div class="forks-heading">
            <h4>
              <span>
                <svg
                  class="usa-icon"
                  aria-labelledby="fork-count"
                  role="img"
                >
                  {% lucide "git-fork" %}
                </svg>
              </span>
              Forks
            </h4>
          </div>
          <p>{{ project.forks_count }}</p>
        </div>
        <div class="stat-container" id="issues">
          <div class="issues-heading">
            <h4>
              <span>
                <svg
                  class="usa-icon"
                  aria-labelledby="fork-count"
                  role="img"
                >
                  {% lucide "circle-dot" %}
                </svg>
              </span>
              Issues
            </h4>
          </div>
          <p>{{ project.issues_count }}</p>
        </div>
        <div class="stat-container" id="watchers">
          <div class="watchers-heading">
            <h4>
              <span>
                <svg
                  class="usa-icon"
                  aria-labelledby="watchers-count"
                  role="img"
                >
                  {% lucide "eye" %}
                </svg>
              </span>
              Watchers
            </h4>
          </div>
          <p>{{ project.watchers_count }}</p>
        </div>
        <div class="stat-container" id="pull-requests">
          <div class="pull-requests-heading">
            <h4>
              <span>
                <svg
                  class="usa-icon"
                  aria-labelledby="pull-requests-count"
                  role="img"
                >
                  {% lucide "git-pull-request" %}
                </svg>
              </span>
              Pull Requests
            </h4>
          </div>
          <p>{{ project.pull_requests_count }}</p>
        </div>
      </div>
    {% else %}
      <p>Error Occurred: Object Not Found</p>
    {% endif %}
    <br>
    <div class="post">
      {{ content | raw }}
    </div>
  </div>
</div>
